<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Report a new creature here</h1>
    </div>
    <div class"row">
      <div class="col-md-8">

        <%= bootstrap_form_for @creature do |f| %>
        <%= f.text_field :name %>
        <%= f.text_area :description %>
        <div>
        <%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>
        </div>
        <%= f.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
